<div class="form-group">
  <div class="row">

    <div class="col-md-3">Asset Category Code</div>
    <div class="col-md-3">Asset Category Name</div>
    <div class="col-md-2">Status</div>
  </div>
  <div class="row">
    <div class="col-md-3">
        <input id="txtassetCategoryCode" required name="txtassetCategoryCode" 
        type="text" class="form-control" placeholder="Asset Category Code" 
        (input)="resultChanged()" [(ngModel)]="bindObj.assetCategoryCode">
    </div>
    <div class="col-md-3">
        <input id="txtassetCategoryNameENG" required 
        name="txtassetCategoryNameENG" type="text" class="form-control" 
        placeholder="Asset Category"
        (input)="resultChanged()" 
        [(ngModel)]="bindObj.assetCategoryNameENG">
    </div>
    <div class="col-md-2">
      <select id="ShiftId" name="ShiftId" (change)="resultChanged()" [(ngModel)]="bindObj.isActive"
        class="form-control">
        <option value="3">All</option>
        <option value="Active">Active</option>
        <option value="Inactive">Inactive</option>
      </select>
    </div>
    <div class="col-md-1">
        <button class="col-md-12 btn btn-primary icons font-1xl icon-plus" 
        title="Create assetCategory" routerLink="/AssetCategory"></button>
    </div>
    <div class="col-md-1">
      <i class="fa fa-file-excel-o" style="font-size:35px;color: #20a8d8" aria-hidden="true"
        (click)="ExportToExcel()"></i>
    </div>
</div>
</div>

<table class="table table-responsive-sm table-hover table-outline mb-0">
    <thead class="thead-light">
      <tr>
        <th>Asset Category Code</th>
        <th>Asset Category Name</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Oject of arrOject | paginate: config">
        <td>
          <div>{{Oject.assetCategoryCode}}</div>
        </td>
        <td>
          {{Oject.assetCategoryNameENG}}
        </td>
        <td>
          {{Oject.isActive}}
        </td>
        <td>
        <button mat-icon-button [routerLink]="['/AssetCategory/',Oject.assetCategoryCode]"
         color="accent">
          <mat-icon  color="#FFFFFF" aria-label="Edit">edit</mat-icon>
        </button>
      </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>