<form #tehsilForm="ngForm" (ngSubmit)="save(tehsilForm);" autocomplete="off">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-11 container">
                <div class="card">
                    <div class="card-header">
                        <strong>Tehsil</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <label class="col-md-2 col-form-label" for="txtTehsilCode">Tehsil Code</label>
                            <div class="col-sm-4">
                                <input id="tehsilCode" [(ngModel)]="tehsil.tehsilCode" name="tehsilCode" type="text"
                                    class="form-control form-control-sm">
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <label class="col-md-2 col-form-label" for="txtTehsil_DescriptionEng">Tehsil Name Eng
                                (Eng)</label>
                            <div class="col-sm-4">
                                <input id="txttehsilNameEng" [(ngModel)]="tehsil.tehsilNameEng" required name="tehsilNameEng"
                                    type="text" class="form-control form-control-sm">
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <label class="col-md-2 col-form-label" for="txtTehsilNameUni">
                                Tehsil Name Uni
                                (Uni)</label>
                            <div class="col-sm-4">
                                <input id="txttehsilNameUni" [(ngModel)]="tehsil.tehsilNameUni" required name="tehsilNameUni"
                                    type="text" class="form-control form-control-sm">
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3"></div>
                          <label class="col-md-2 col-form-label">
                            Tehsil</label>
                          <div class="col-md-4">
                            <select id="DistrictCode" name="DistrictCode" [(ngModel)]="tehsil.districtCode" class="form-control form-control-sm">
                              <option value="-1">Select District Code</option>
                              <option *ngFor="let Drpobj of districtDrpList" [value]="Drpobj.districtCode">
                                {{Drpobj.districtNameEng}}
                              </option>
                            </select>
                          </div>
                        </div>
                            <div class="row">
                            <div class="col-md-3"></div>
                            <label class="col-md-2 col-form-label" for="chkTehsilActive">Active</label>
                            <div class="col-sm-4">
                                <input type="checkbox" [(ngModel)]="tehsil.isActive" name="chkTehsilActive"></div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>
                                    Submit</button>
                                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i>
                                    Reset</button>
                            </div>
                            <div class="col-md-4"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
</form>
<div style="visibility: visible;"> {{tehsil | json}}</div>