<form #cityForm="ngForm" (ngSubmit)="save(cityForm);" autocomplete="off">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-11 container">
                <div class="card">
                    <div class="card-header">
                        <strong>City</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <label class="col-md-2 col-form-label" for="txtCityCode">City Code</label>
                            <div class="col-sm-4">
                                <input id="txtCityCode" [(ngModel)]="city.City_Code" name="CityCode" type="text"
                                    class="form-control form-control-sm">
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <label class="col-md-2 col-form-label" for="txtCityNameEn">City Name
                                (Eng)</label>
                            <div class="col-sm-4">
                                <input id="txtCityNameEn" [(ngModel)]="city.City_Name_ENG" required name="CityNameEn"
                                    type="text" class="form-control form-control-sm">
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <label class="col-md-2 col-form-label" for="txtCityNameUni">City Name
                                (Uni)</label>
                            <div class="col-sm-4">
                                <input id="txtCityNameUni" [(ngModel)]="city.Is_Active" required name="CityNameUni"
                                    type="text" class="form-control form-control-sm">
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <label class="col-md-2 col-form-label" for="chkCityActive">Active</label>
                            <div class="col-sm-4">
                                <input type="checkbox" [(ngModel)]="city.Is_Active" name="chkCityActive"></div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-5"></div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>
                                    Submit</button>
                                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i>
                                    Reset</button>
                            </div>
                            <div class="col-md-5"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
</form>