<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="row col-md-12" style="background-color: white; margin:0px; padding:0px;
  border-bottom: 1px solid #23282c;">
    <div class="logo"></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown" dropdown placement="bottom right">
          <a class="nav-link" data-toggle="dropdown" href="#" role="button" 
          aria-haspopup="true" aria-expanded="false"
            dropdownToggle (click)="false">
            <img class="uselog" alt="User Logo" />
          </a>
          <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
            <a class="dropdown-item logout" onclick="logout()"><i class="fa fa-lock"></i> Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <!-- breaking change 'cui-breadcrumb' -->
    <cui-breadcrumb>
      <span class="ml-auto text-primary">
        <strong> {{myDate | date:'EEEE, MMMM d, y '}}</strong>
      </span>

    </cui-breadcrumb>
    <div class="container-fluid">
      <div class="container">
        <div class="lds-roller" *ngIf="showLoddingIndicator">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <br />
      </div>
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
  <app-aside [fixed]="true" [display]="false">
  </app-aside>
</div>
<app-footer>
  <span>Copyright
    &copy; 2020 Ajax Solutions. All rights reserved.</span>
  <span class="ml-auto">Powered by

    <a href="http://www.ajaxsolutions.in/" target="_blank">
      <img class="img-fluid ajaxlog" style="height: 40px;" alt="Responsive image">
    </a></span>
</app-footer>

<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content {{massageStyle}}">
      <div class="modal-header">
        <h4 class="modal-title">{{HederStr}}</h4>
        <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{bodyStr}}&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="myModal.hide()">Close</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->