<div class="form-group row">
    <div class="col-md-3">
        <input id="txtDescription" name="txtDescription" type="text"
        (input)="resultChanged()"  [(ngModel)]="cast.Cast_Description_ENG"
         class="form-control" placeholder="Cast Name" 
       >
    </div>
    <div class="col-md-3">
        <input id="txtCode"
        (input)="resultChanged()"  [(ngModel)]="cast.Cast_Code"
         name="txtCode" type="text" class="form-control"
          placeholder="Cast Code">
    </div>
    <div class="col-md-1">
        <button class="col-md-12 btn btn-primary icons font-1xl icon-plus" title="Create Cast "
         routerLink="/Cast"></button>
    </div>
    <div class="col-md-1">
        <input type="image" name="imgbtn" src="assets/img/Content/excel.png"
         height="30px" width="30px" alt="Export To Excel">
    </div>
  </div>
  
  <table class="table table-responsive-sm table-hover table-outline mb-0">
    <thead class="thead-light">
      <tr>
        <th>Cast Code</th>
        <th>Cast  Description EN</th>
        <th>Cast Description UNI</th>
        <th>Active</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Obj of Casts">
        <td>
          <div>{{Obj.Cast_Code}}</div>
        </td>
        <td>
          <label class="col-md-3 col-form-label" style="text-anchor: unset">{{Obj.Cast_Description_ENG}}</label>
        </td>
        <td>
          <label class="col-md-3 col-form-label" style="text-anchor: unset">{{Obj.Cast_Description_UNI}}</label>
        </td>
        <td [ngSwitch]="Obj.IsActive">
          <span *ngSwitchCase="true">Yes</span>
          <span *ngSwitchDefault>No</span>
        </td>
        <td>
          <button class="btn btn-primary"
            [routerLink]="['/Cast/',Obj.Id]">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>