<div class="form-group row">
  <div class="col-md-3">
      <input id="txtCityGroupName" name="CityGroupName" type="text"
      (input)="resultChanged()"  [(ngModel)]="citygroup.CityGroup_Name_ENG"
       class="form-control" placeholder="CityGroup Name" 
     >
  </div>
  <div class="col-md-3">
      <input id="txtCityGroupCode"
      (input)="resultChanged()"  [(ngModel)]="citygroup.CityGroup_Code"
       name="txtCityGroupCode" type="text" class="form-control"
        placeholder="CityGroup Code">
  </div>
  <div class="col-md-1">
      <button class="col-md-12 btn btn-primary icons font-1xl icon-plus" title="Create User"
       routerLink="/CityGroup"></button>
  </div>
  <div class="col-md-1">
      <input type="image" name="imgbtn" src="assets/img/Content/excel.png"
       height="30px" width="30px" alt="Export To Excel">
  </div>
</div>

<table class="table table-responsive-sm table-hover table-outline mb-0">
  <thead class="thead-light">
    <tr>
      <th>CityGroup Code</th>
      <th>CityGroup Description</th>
      <th>Active</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let citygroup of citygroups">
      <td>
        <div>{{citygroup.CityGroup_Code}}</div>
      </td>
      <td>
        <label class="col-md-3 col-form-label" style="text-anchor: unset">{{citygroup.CityGroup_Name_ENG}}</label>
      </td>
      <td [ngSwitch]="citygroup.IsActive">
        <span *ngSwitchCase="true">Yes</span>
        <span *ngSwitchDefault>No</span>
      </td>
      <td>
        <button class="btn btn-primary"
          [routerLink]="['/CityGroup/',citygroup.Id]">Edit</button>
      </td>
    </tr>
  </tbody>
</table>