<form #brandForm="ngForm" (ngSubmit)="save(brandForm);" autocomplete="off">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-11 container">
                <div class="card">
                    <div class="card-header">
                        <strong>Brand</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <label class="col-md-2 col-form-label" for="txtbrandCode">brand Code</label>
                            <div class="col-sm-4">
                                <input id="txtbrandCode" [(ngModel)]="brand.manufactureCode" required name="brandCode"
                                    type="text" class="form-control form-control-sm">
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <label class="col-md-2 col-form-label" for="txtbrandNameEn">Brand Name (Eng)</label>
                            <div class="col-sm-4">
                                <input id="txtbrandNameEn" required name="brandNameEn" type="text"
                                    [(ngModel)]="brand.brandDesc" class="form-control form-control-sm">
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <label class="col-md-2 col-form-label" for="txtbrandNameUni">Brand Name (Uni)</label>
                            <div class="col-sm-4">
                                <input id="txtbrandNameUni" required name="brandNameUni" type="text"
                                    [(ngModel)]="brand.brandDescUni" class="form-control form-control-sm">
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <label class="col-md-2 col-form-label">Active</label>
                            <div class="col-sm-4">
                                <input type="checkbox" [(ngModel)]="brand.isActive" name="isActive"></div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-5"></div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>
                                    Submit</button>
                                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i>
                                    Reset</button>
                            </div>
                            <div class="col-md-5"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
</form>
<div> {{brand | json}}</div>