<div class="form-group row">
    <div class="col-md-3">
        <input id="txtBrand_Name_ENg" required name="Brand_Name_ENg" type="text" class="form-control" placeholder="Brand Name Eng" 
        (input)="resultChanged()" [(ngModel)]="brand.brandDesc">
    </div>
    <div class="col-md-3">
        <input id="txtBrand_Code" required name="txtBrandCode" type="text" class="form-control" placeholder="Brand Code"
        (input)="resultChanged()" [(ngModel)]="brand.brandCode">
    </div>
    <div class="col-md-1">
        <button class="col-md-12 btn btn-primary icons font-1xl icon-plus" title="Create Brand" routerLink="/Brand"></button>
    </div>
    <div class="col-md-1">
        <input type="image" name="imgbtn" src="assets/img/Content/excel.png" height="30px" width="30px" alt="Export To Excel" (click)="ExportToExcel()">
    </div>
</div>

<table class="table table-responsive-sm table-hover table-outline mb-0">
    <thead class="thead-light">
      <tr>
        <th>Brand Code</th>
        <th>Brand Name ENg</th>
        <th>Brand Name Uni</th>
        <th>Active</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let brand of brands">
        <td>
          <div>{{brand.brandCode}}</div>
        </td>
        <td>
          {{brand.brandDesc}}
        </td>
        <td>
          <label class="col-md-3 col-form-label" style="text-anchor: unset">{{brand.brandDescUni}}</label>
        </td>
        <td [ngSwitch]="brand.IsActive">
          <span *ngSwitchCase="true">Yes</span>
          <span *ngSwitchDefault>No</span>
        </td>
        <td [ngSwitch]="1">
          <button class="btn btn-primary" [disabled]="brand.brandCode === ''"
            [routerLink]="['/Brand/',brand.brandCode]">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>