<div class="form-group">
    <div class="row">
  
      <div class="col-md-3">Project ID</div>
      <div class="col-md-3">Project</div>
      <div class="col-md-2">Status</div>
    </div>
  
    <div class="row">
      <div class="col-md-3">
        <input id="txtProjectID" required name="txtProjectID" 
        type="text" class="form-control" placeholder="Project ID"
          (input)="resultChanged()" [(ngModel)]="objProject.projectCode">
      </div>

      <div class="col-md-3">
        <input id="txtProject" required name="txtproject" type="text" class="form-control" 
        placeholder="Project"
          (input)="resultChanged()" [(ngModel)]="objProject.projectName">
      </div>

      <div class="col-md-2">
        <select id="ShiftId" name="Active" (change)="resultChanged()" [(ngModel)]="objProject.isActive"
          class="form-control">
          <option value="3" selected>All</option>
          <option value="Active">Active</option>
          <option value="Inactive">Inactive</option>
        </select>
      </div>
      <div class="col-md-1">
        <button class="col-md-12 btn btn-primary icons font-1xl icon-plus" title="Add project"
          routerLink="/Project"></button>
      </div>
     <div class="col-md-1">
        <i class="fa fa-file-excel-o"  style="font-size:35px;color: #20a8d8" aria-hidden="true" (click)="ExportToExcel()"></i>
      </div>
    </div>
  </div>
  
  <table class="table table-responsive-sm table-hover table-outline mb-0">
    <thead class="thead-light">
      <tr>
        <th>Project Id</th>
        <th>Project</th>
        <th>Project Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Access Type</th>
        <th>Priority</th>
        <th>TimeSheet Required</th>
        <th>ACC Code</th>
        <th>Budget</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Project of projects | paginate: config">
        <td>
          <div>{{Project.projectCode}}</div>
        </td>
        <td>
          {{Project.projectName}}
        </td>
        <td>
          {{Project.projectDescription}}
        </td>
        <td>
          {{Project.startDate}}
        </td>
        <td>
            {{Project.endDate}}
        </td>
        <td>
            {{Project.accessType}}
        </td>
        <td>
            {{Project.priority}}
        </td>
        <td>
            {{Project.timesheetRequired}}
        </td>
        <td>
            {{Project.mainAccountHeadCode}}
        </td>
        <td>
            {{Project.budget}}
        </td>
        <td>
          {{Project.isActive}}
        </td>
        <td [ngSwitch]="1">
            <button mat-icon-button [routerLink]="['/Project/',Project.projectCode]"
             color="accent">
              <mat-icon  color="#FFFFFF" aria-label="Edit">edit</mat-icon>
            </button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>

 <!-- <div> {{projects | json}}</div>-->