<div class="form-group row">
    <div class="col-md-3">
        <input id="txtMFGCode" name="txtMFGCode" type="text" 
        (input)="resultChanged()"  [(ngModel)]="MFG.manufactureCode"
        class="form-control" placeholder="MFG Code">
    </div>
    <div class="col-md-3">
        <input id="txtMFG" 
        (input)="resultChanged()"  [(ngModel)]="MFG.manufactureDesc"
        name="MFGName" type="text"
         class="form-control" placeholder="MFG Name" 
       >
    </div>
    <div class="col-md-1">
        <button class="col-md-12 btn btn-primary icons font-1xl icon-plus" title="Create User"
         routerLink="/MFG"></button>
    </div>
    <div class="col-md-1">
        <input type="image" name="imgbtn" src="assets/img/Content/excel.png"
         height="30px" width="30px" alt="Export To Excel">
    </div>
</div>

<table class="table table-responsive-sm table-hover table-outline mb-0">
    <thead class="thead-light">
      <tr>
        <th>Manufacturer Code</th>
        <th>Manufacturer Description</th>
        <th>Active</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mfg of MFGs">
        <td>
          <div>{{ mfg.manufactureCode}}</div>
        </td>
        <td>
          <label class="col-md-3 col-form-label" style="text-anchor: unset">{{mfg.manufactureDesc}}</label>
        </td>
        <td [ngSwitch]="mfg.isActive">
          <span *ngSwitchCase="true">Yes</span>
          <span *ngSwitchDefault>No</span>
        </td>
        <td>
          <button class="btn btn-primary"
            [routerLink]="['/MFG/',mfg.ID]">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>