<div class="form-group">
  <div class="row">

    <div class="col-md-3">Cluster Code</div>
    <div class="col-md-3">Cluster</div>
    <div class="col-md-2">Status</div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <input id="txtClusterCode" required name="txtClusterCode" type="text" class="form-control"
        placeholder="Cluster Code" (input)="resultChanged()" [(ngModel)]="bindObj.clusterCode">
    </div>
    <div class="col-md-3">
      <input id="txtClusterNameENG" required name="txtClusterNameENG" type="text" class="form-control"
        placeholder="Cluster Name" (input)="resultChanged()" [(ngModel)]="bindObj.clusterNameENG">
    </div>
    <div class="col-md-2">
      <select id="Active" name="Active" (change)="resultChanged()" [(ngModel)]="bindObj.isActive" class="form-control">
        <option value="3" selected>All</option>
        <option value="Active">Active</option>
        <option value="Inactive">Inactive</option>
      </select>
    </div>
    <div class="col-md-1">
      <button class="col-md-12 btn btn-primary icons font-1xl icon-plus" title="Create Cluster"
        routerLink="/Cluster"></button>
    </div>
    <div class="col-md-1">
      <i class="fa fa-file-excel-o" style="font-size:35px;color: #20a8d8" aria-hidden="true"
        (click)="ExportToExcel()"></i>
    </div>
  </div>
</div>

<table class="table table-responsive-sm table-hover table-outline mb-0">
  <thead class="thead-light">
    <tr>
      <th>Cluster Code</th>
      <th>Cluster Name</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Oject of arrOject | paginate: config">
      <td>
        <div>{{Oject.clusterCode}}</div>
      </td>
      <td>
        {{Oject.clusterNameENG}}
      </td>
      <td>
        {{Oject.isActive}}
      </td>
      <td>
        <button mat-icon-button [routerLink]="['/Cluster/',Oject.clusterCode]" color="accent">
          <mat-icon color="#FFFFFF" aria-label="Edit">edit</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>