<div class="form-group">
  <div class="row">
    <div class="col-md-3">Zone ID</div>
    <div class="col-md-3">Zone</div>
    <div class="col-md-2">Active</div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <input id="txtzoneCode" required name="txtzoneCode" type="text" class="form-control" placeholder="Zone Code"
        (input)="resultChanged()" [(ngModel)]="bindObj.zoneCode">
    </div>
    <div class="col-md-3">
      <input id="txtzoneNameENG" required name="txtzoneNameENG" type="text" class="form-control" placeholder="Zone Name"
        (input)="resultChanged()" [(ngModel)]="bindObj.zoneNameENG">
    </div>
    <div class="col-md-2">
      <select id="ShiftId" name="ShiftId" (change)="resultChanged()"
      #keywordsInput
       [(ngModel)]="bindObj.isActive"
        class="form-control">
        <option value="3">All</option>
        <option value="Active">Active</option>
        <option value="Inactive">Inactive</option>
      </select>
    </div>
    <div class="col-md-1">
      <button class="col-md-12 btn btn-primary icons font-1xl icon-plus" title="Create Zone"
        routerLink="/Zone"></button>
    </div>
    <div class="col-md-1">
      <i class="fa fa-file-excel-o"  style="font-size:35px;color: #20a8d8" aria-hidden="true" (click)="ExportToExcel()"></i>
    </div>
  </div>
</div>

<table class="table table-responsive-sm table-hover table-outline mb-0">
  <thead class="thead-light">
    <tr>
      <th>Zone Code</th>
      <th>Zone Name ENG</th>
      <th>Zone Name UNI</th>
      <th>Active</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Oject of arrOject | paginate: config">
      <td>
        <div>{{Oject.zoneCode}}</div>
      </td>
      <td>
        {{Oject.zoneNameENG}}
      </td>
      <td>
        {{Oject.zoneNameUNI}}
      </td>
      <td>
        {{Oject.isActive}}
      </td>
      <td [ngSwitch]="1">
        <button class="btn btn-primary" [disabled]="Oject.zoneCode === ''"
          [routerLink]="['/Zone/',Oject.zoneCode]">Edit</button>
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>  