<div class="subdiv">
<div class="maindiv">
  <mat-card class="col-md-3" style="margin: 0px; padding: 0px;">
    <div class="row">
      <div class="col-md-12 logo"></div>
    </div>
    
    <mat-card-content class="col-md-12" style="padding-top: 20px;">
      <form [formGroup]="form">

        <mat-error *ngIf="loginInvalid">
          The username and password were not recognised
        </mat-error>

        <mat-form-field class="full-width-input">
          <input matInput spellcheck="false" 
          required placeholder="User name" formControlName="userName">
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input [type]="hidePassword ? 'password' : 'text'" 
          matInput spellcheck="false" placeholder="Password"
          required
            formControlName="password">
            
          <button mat-icon-button tabindex="-1" matSuffix (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>


        <button mat-raised-button color="primary" (click)="onSubmit();">Login</button>
      </form>
      <div class="row" style="padding-top: 30px;">
        <div class="col-md-12" style="text-decoration: none;" align="center">
          <div>V-1.0</div></div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<footer>
    <div class="col-md-12">
      <div class="col-md-1 p-2 grey" style="float: right;">
        <img 
         class="img-fluid ajaxlog" alt="Responsive image"><br/>
      </div>
    </div>
</footer></div>