<div class="form-group">
  <div class="row">
    <div class="col-md-3">Colour Code</div>
    <div class="col-md-3">Colour</div>
    <div class="col-md-2">Status</div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <input id="txtcolourCode" required name="txtcolourCode" 
      type="text" class="form-control" placeholder="Colour Code"
        (input)="resultChanged()" [(ngModel)]="bindObj.colourCode">
    </div>
    <div class="col-md-3">
      <input id="txtcolourNameENG" required name="txtcolourNameENG" type="text" class="form-control"
        placeholder="Colour Name" (input)="resultChanged()" [(ngModel)]="bindObj.colourNameENG">
    </div>
    <div class="col-md-2">
      <select id="ShiftId" name="Active" (change)="resultChanged()" [(ngModel)]="bindObj.isActive" class="form-control">
        <option value="3" selected>All</option>
        <option value="Active">Active</option>
        <option value="Inactive">Inactive</option>
      </select>
    </div>
    <div class="col-md-1">
      <button class="col-md-12 btn btn-primary icons font-1xl icon-plus" title="Create Colour"
        routerLink="/Colour"></button>
    </div>
    <div class="col-md-1">
      <i class="fa fa-file-excel-o" style="font-size:35px;color: #20a8d8" aria-hidden="true"
        (click)="ExportToExcel()"></i>
    </div>
  </div>
</div>

<table class="table table-responsive-sm table-hover table-outline mb-0">
  <thead class="thead-light">
    <tr>
      <th>Colour Code</th>
      <th>Colour Name</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Oject of arrOject| paginate: config">
      <td>
        <div>{{Oject.colourCode}}</div>
      </td>
      <td>
        {{Oject.colourNameENG}}
      </td>
      <td>
        <div>{{Oject.isActive}}</div>
      </td>
      <td>
        <button mat-icon-button [routerLink]="['/Colour/',Oject.colourCode]" color="accent">
          <mat-icon color="#FFFFFF" aria-label="Edit">edit</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>