<form #ObjForm="ngForm" [formGroup]="form" autocomplete="off">
    <div class="animated fadeIn">        
        <div class="row">
            <div class="col-md-11 container">
                <div class="card">
                    <div class="card-header">
                        <strong>Region</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <mat-form-field class="col-md-4">
                                <input matInput
                                placeholder="Region Code"
                                [(ngModel)]="bindObj.regionCode"
                                formControlName="ControlregionCode"
                                #txtregionCode
                                name="txtregionCode">
                                <mat-error>
                                    {{ formErrors['ControlregionCode'] }}
                                </mat-error>
                            </mat-form-field>
                            <div class="col-md-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <mat-form-field class="col-md-4">
                                <input matInput
                                placeholder="Region Name"
                                [(ngModel)]="bindObj.regionNameENG" required
                                (keypress)="omit_special_char($event)" 
                                formControlName="ControlregionNameENG"
                                #txtregionNameENG
                                name="txtregionNameENG">
                                <mat-error>
                                    {{ formErrors['ControlregionNameENG'] }}
                                </mat-error>
                            </mat-form-field>
                            <div class="col-md-4"></div>
                        </div>
                        <div class="row" style="display: none;">
                            <div class="col-md-4"></div>
                            <mat-form-field class="col-md-4">
                                <input matInput
                                placeholder="Region Name UNI"
                                [(ngModel)]="bindObj.regionNameUNI"
                                formControlName="ControlregionNameUNI"
                                #txtregionNameUNI
                                name="txtregionNameUNI">
                                <mat-error>
                                    {{ formErrors['ControlregionNameUNI'] }}
                                </mat-error>
                            </mat-form-field>
                            <div class="col-md-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-sm-4" style="padding-top: 20px;">
                                <mat-checkbox name="chkisActive"
                                #chkisActive
                                formControlName="ControlisActive"
                                 [(ngModel)]="bindObj.isActive">Active
                                </mat-checkbox>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <button mat-raised-button [disabled]="!form.valid" 
                                (click)="save(ObjForm)"
                                    color="primary">Submit</button>
                                    &nbsp; &nbsp; &nbsp; &nbsp;
                                <button mat-raised-button color="warn"
                                 routerLink="/RegionList">
                                    Cancel</button>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div style="display: none;"> {{bindObj | json}}</div>