<div class="form-group row">
    <div class="col-md-3">
        <input id="txtUnitDescription" required name="UnitDescription" type="text" class="form-control" placeholder="Unit Description" 
        (input)="resultChanged()" [(ngModel)]="Unit.uomDesc">
    </div>
    <div class="col-md-3">
        <input id="txtUnitId" required name="txtUnitId" type="text" class="form-control" placeholder="Unit Code"
        (input)="resultChanged()" [(ngModel)]="Unit.uomCode">
    </div>
    <div class="col-md-1">
        <button class="col-md-12 btn btn-primary icons font-1xl icon-plus" title="Create User" routerLink="/Unit"></button>
    </div>
    <div class="col-md-1">
        <input type="image" name="imgbtn" src="assets/img/Content/excel.png" height="30px" width="30px" alt="Export To Excel" (click)="ExportToExcel()">
    </div>
</div>

<table class="table table-responsive-sm table-hover table-outline mb-0">
    <thead class="thead-light">
      <tr>
        <th>Unit Code</th>
        <th>Unit Description</th>
        <th>Active</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Unit of Units">
        <td>
          <div>{{Unit.uomCode}}</div>
        </td>
        <td>
          <label class="col-md-3 col-form-label" style="text-anchor: unset">{{Unit.uomDesc}}</label>
        </td>
        <td [ngSwitch]="Unit.IsActive">
          <span *ngSwitchCase="true">Yes</span>
          <span *ngSwitchDefault>No</span>
        </td>
        <td [ngSwitch]="1">
          <button class="btn btn-primary" [disabled]="Unit.uomCode === '0'"
            [routerLink]="['/Unit/',Unit.uomCode]">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>