<main class="form-main">
    <form #formForm="ngForm" [formGroup]="form" autocomplete="off">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-11 container">
                    <div class="card">
                        <div class="card-header">
                            <strong>Form</strong>
                        </div>
                        <div class="card-body">
                           <!--<h6 class="text-right">* - Mandatory fields</h6>--> 
                            <div class="row">
                                <div class="col-md-4"></div>                            
                                <mat-form-field class="col-md-2">
                                    <input matInput
                                    #formID
                                    spellcheck="false" [(ngModel)]="formobj.formId"
                                    placeholder="Form Code" disabled
                                    formControlName="ControlformId" >
                                    <mat-error>
                                    {{ formErrors['ControlformId'] }}
                                    </mat-error>
                                </mat-form-field>
                                <div class="col-md-4"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"></div>   
                               <!--<span class="Mandatory_Icon">*</span>-->  
                                <mat-form-field class="col-md-4">
                                  <input matInput
                                    #formName
                                    spellcheck="false" [(ngModel)]="formobj.formName"
                                    placeholder="Form Name *"
                                    formControlName="ControlformName" maxlength="50">                                    
                                  <mat-error>
                                    {{ formErrors['ControlformName']}}
                                  </mat-error>
                                </mat-form-field>
                               
                                <div class="col-md-4"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-sm-4">                                    
                                    <mat-checkbox name="chkisActive"
                                    #chkisActive 
                                    formControlName="ControlisActive"
                                     [(ngModel)]="formobj.isActive">Active
                                    </mat-checkbox>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">                                    
                                    <button mat-raised-button
                                    [disabled]="!form.valid"
                                    (click)="save(formForm)"
                                    color="primary">Submit</button> &nbsp; &nbsp; &nbsp; &nbsp;
                                        <button mat-raised-button color="warn"
                                         routerLink="/FormList" >
                                            Cancel</button>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.row-->
        </div>
    </form>
    </main>
    <div style="display: none;"> {{formobj | json}}</div>