<div class="container">
  <h1 mat-dialog-title>Edit Form Question Answer Mapping</h1>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm" autocomplete="off">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="FormQuestionAnswerMapping"
        disabled
         [(ngModel)]="data.fqamId" name="fqamId" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>   
    <div class="form">
      <mat-form-field color="accent">        
        <mat-label>Question</mat-label>
        <mat-select  (selectionChange)="QuestionsChange($event)"
        required name="Questions" #input
        [(ngModel)]="data.questionId">
        <mat-option>Question</mat-option>
        <mat-option *ngFor="let question of questionsObj"
         [value]="question.questionId">
          {{question.question}}
        </mat-option>
        </mat-select>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" maxlength="5"
        type="number"
        oninput="javascript: if (this.value.length > this.maxLength) 
        this.value = this.value.slice(0, this.maxLength);"
        #input
        placeholder="Form Question Sequence"
         [(ngModel)]="data.formQueSeqNo" name="formQueSeqNo" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>   
    <div class="form">
      <mat-form-field color="accent">        
        <mat-label>Answer</mat-label>
        <mat-select (selectionChange)="AnswerTextChange($event)"
         required name="answeris" 
        #input
        [(ngModel)]="data.answerId">
          <mat-option *ngFor="let answers of answersObj" [value]="answers.answerId">
            {{answers.answer}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Question Group"
        maxlength="5"
        type="number"
        oninput="javascript: if (this.value.length > this.maxLength) 
        this.value = this.value.slice(0, this.maxLength);"
        #input
         [(ngModel)]="data.queGroup" name="QuestionsGroup" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>     
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Next Que Group"
        maxlength="5"
        type="number"
        oninput="javascript: if (this.value.length > this.maxLength) 
        this.value = this.value.slice(0, this.maxLength);"
        #input
         [(ngModel)]="data.nextQueGroup" name="queGroup" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div> 
    <div class="form">
      <mat-checkbox name="chkQuestionsMandatory"
      [(ngModel)]="data.isQuestionMandatory">Question Mandatory</mat-checkbox>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <mat-checkbox name="chkActive" [(ngModel)]="data.isActive">Active</mat-checkbox>
    </div>
    <div class="form">
      <mat-form-field color="accent">        
        <mat-label>Next Form</mat-label>
        <mat-select (selectionChange)="NextFormChange($event)" required name="NextForm" 
        #input
        [(ngModel)]="data.nextFormId">
          <mat-option *ngFor="let form of formObj" [value]="form.formId">
            {{form.formName}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button [type]="submit" 
      [disabled]="!formControl.valid" [mat-dialog-close]="1"
      (click)="stopEdit()"
          color="primary">Save</button>
          <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">
            Cancel</button>
    </div>
  </form>
</div>
