<main class="form-main">
    <form #answerForm="ngForm" [formGroup]="form">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-11 container">
                    <div class="card">
                        <div class="card-header">
                            <strong>Answer</strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4"></div>
                                <mat-form-field class="col-md-4">
                                    <input matInput
                                    placeholder="Answer ID"
                                    [(ngModel)]="answer.answerId"
                                    formControlName="ControlAnswerID"
                                    #txtAnswerID
                                    name="txtAnswerID">
                                    <mat-error>
                                        {{ formErrors['ControlAnswerID'] }}
                                    </mat-error>
                                </mat-form-field>
                                <div class="col-md-4"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"></div>
                                <mat-form-field class="col-md-4">
                                    <input matInput
                                    placeholder="Answer * "
                                    [(ngModel)]="answer.answer"
                                    formControlName="ControlAnswer"
                                    #txtAnswer
                                    name="txtAnswer" maxlength="100">
                                    <mat-error>
                                        {{ formErrors['ControlAnswer'] }}
                                    </mat-error>
                                </mat-form-field>
                                <div class="col-md-4"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-sm-4" style="padding-top: 20px;">
                                    <mat-checkbox name="chkisActive"
                                    #chkisActive
                                    formControlName="ControlisActive"
                                     [(ngModel)]="answer.isActive">Active
                                    </mat-checkbox>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <button mat-raised-button [disabled]="!form.valid" 
                                    (click)="save(answerForm)"
                                        color="primary">Submit</button>
                                         &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    <button mat-raised-button color="warn" routerLink="/AnswerList">
                                        Cancel</button>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.row-->
        </div>
    </form>
</main>
<!-- <div> {{answer | json}}</div> -->